PORT="puerto del servidor"
DB_HOST="host de la base de datos"
DB_PORT="puerto de la base de datos"
DB_NAME="base de datos"
DB_USER="usuario"
DB_PASS="contraseña"

JWT_SECRET="llave secreta"
JWT_REFRESH="llave refresh"

NODE_ENV="development"


AWS_ACCESS_KEY_ID="TU_ACCESS_KEY"
AWS_SECRET_ACCESS_KEY="TU_SECRET_KEY"
AWS_REGION="us-east-1"
AWS_BUCKET="grupo-j3m"